<% form_for @person do |f| %>
 
  <label for="person_name">Name:</label><br />
  <%= f.text_field :username %><br />
 
  <label for="person_password">Password:</label><br />
  <%= f.password_field :password %><br />
 
  <label for="person_password_confirmation">Password Confirmation:</label><br />
  <%= f.password_field :password_confirmation %><br />

  <label for="person_email">Email:</label><br />
  <%= f.text_field :email %><br />
 
  <%= submit_tag "Submit" %>
 
<% end %>