<h3>Please, change your password!</h3>
<% if  flash[:error]%>
  <% flash[:error].each do |error| %>
    <%= error %> <br/>
  <%end%>
<%end%>

<br/>

<%= form_tag "/people/change_password" do %>
  Password: <br/>
  <%= password_field_tag :password %> <br/>
  Confirm password: <br/>
  <%= password_field_tag :confirm_password %> <br/><br/>
  <%= hidden_field_tag "id", @id %>
  <%= submit_tag %>
<%end%>
