<%= doc_title '/search' %>


  <h2><span style='color:#ff6600; width:200px;margin-right:20px;'>GET</span></h2>


    <p><strong>Description:</strong></p>
    <p>Performs a fulltext search spanning people, channels, messages and groups.
</p>

    <p><strong>Access:</strong> Client login
 </p>

    <p><strong>Parameters:</strong></p>

      <table>
        <tr>
<th>search </th>
<td> The search term.</td>
</tr>

      </table>


    <p><strong>Return codes:</strong></p>
    <ul><li> 200 <%= http_status( 200.to_s ) %></li></ul>

    <p><strong>Returned JSON:</strong><p>
    <pre>{ "entry": [
 { "type": "Channel",
   "result": { See <%= link_to_api("/channels/channel_id") %> }
 },
 { "type":"Message",
   "result": { See <%= link_to_api("/channels/channel_id>/@messages/msg_id") %> }
 },
 { "type":"Group",
   "result": { See <%= link_to_api("/groups/group_id/@public") %> }
 },
 { "type":"Person",
   "result":{ See <%= link_to_api("/people/user_id/@self") %> }
 }
] }
</pre>

