   <h3>User account</h3>

  <div class="profile_info_field">
    <div class="profile_update_form_left">
      Username: *
    </div>
    <div class="profile_update_form_center">
      <%= f.text_field :username %> 
    </div>
  </div>
  <div class="profile_info_field">
    <div class="profile_update_form_left">
      E-mail: *
    </div>
    <div class="profile_update_form_center">
      <%= f.text_field :email %> 
    </div>
  </div>
  <div class="profile_info_field" >
    <div class="profile_update_form_left">
      New password: *
    </div>
    <div class="profile_update_form_center">
      <%= f.password_field :password %> 
    </div>
  </div>
  <div class="profile_info_field">
    <div class="profile_update_form_left">
      Confirm password: *
    </div>
    <div class="profile_update_form_center">
      <%= password_field_tag "person[password2]", "", :size => 30 %> 
    </div>
  </div>

<% @person.build_name unless @person.name %>  
<% f.fields_for :name, @person.name do |name_fields| %>
  <div class="profile_info_field">  
    <div class="profile_update_form_left">
      Given name:
    </div>
    <div class="profile_update_form_right">
      <%= name_fields.text_field :given_name %> 
    </div>
  </div>
  <div class="profile_info_field">
    <div class="profile_update_form_left">
      Family name:
    </div>
    <div class="profile_update_form_center">
      <%= name_fields.text_field :family_name %> 
    </div>
  </div>
<% end %>

<div class="profile_info_field">  
  <div class="profile_update_form_left">
    I give my consent to <%= link_to_function("the research study", "new Effect.toggle('consent', 'blind')")%> *
  </div>
  </div>
  <div class="profile_update_form_center">
     <%=f.check_box :consent, { }, "ASI1.0", "0" %>
  </div>
</div>

<div id="consent" class="consent" style="display:none; clear:both;">
  <%= render :partial => "coreui/consents/consent" %>
</div>
