<% unless zone == "link" %>
<p>Please use your OtaSizzle username and password to login.</p>
<% end %>

<%= form_tag('/session', :action => "create") %>
        <%= hidden_field_tag "session[app_name]", APP_CONFIG.coreui_app_name %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <label>Username</label>
        <%= text_field_tag "session[username]" %>
        <label>Password</label>
        <%= password_field_tag "session[password]" %>
        
        <%= submit_tag zone == "link" ? "Submit" : "Login" %>

        <% if zone == "link" %>
            <%= link_to("Cancel", session[:fallback_uri]) %>
        <% end %>
</form>
