<% if @person %>
          <%= image_tag("/people/#{@person.guid}/@avatar/large_thumbnail", :align => :left, :style => "float:right; margin-top: 1.5em" ) if @person.avatar %>
  <h2>Welcome<%= @person.name_or_username.strip.empty? ? "!" : ", " + @person.name_or_username %></h2>


  <p>This page allows you to edit your OtaSizzle profile </p>

  <div class="profile_box" id="<%= @person.id %>">
    <div class="info">
      <p class="links">
        <%= link_to "Edit your profile", edit_coreui_profile_path(:id => @person.id) %><br />
        
      </p>
    </div>
    <div class="box_footer"></div>
  </div>
<% else %>

<p>Please use your OtaSizzle username and password to login.</p>

<%= form_tag('/session', :action => "create") %>
        <%= hidden_field_tag "session[app_name]", APP_CONFIG.coreui_app_name %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <label>Username</label>
        <%= text_field_tag "session[username]" %>
        <label>Password</label>
        <%= password_field_tag "session[password]" %>
        <%= submit_tag "Login" %>
</form>

<% end %>
