<p>Please, enter your existing OtaSizzle username and password. This will create a link between your existing OtaSizzle account and the account you used to log in. This is required in order to make your old actions visible with your new account. If you choose to press cancel, linking will not take place and you will be redirected back to the originating service.</p>

<%= form_tag('/coreui/profile/link') %> 
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label>Username</label>
  <%= text_field_tag "username" %>
  <label>Password</label>
  <%= password_field_tag "password" %>
        
   <%= submit_tag "Submit" %>
   <%= link_to("Cancel", session[:fallback_uri]) %>
       
</form>

