<section class="rapidoc">
  <h2 id="top"><a href="/doc#reference">ASI</a><%= DocUtil.render_breadcrumb(@path, @breadcrumb_hash) %></h2>
  <nav id="docNav">
    <ul>
    <% ['GET', 'POST', 'PUT', 'DELETE'].each do |verb| %>
      <% if @verbs[verb] %>
        <li><a href="#<%= verb %>"><%= verb %></a></li>
      <% end %>
    <% end %>
    <% unless @subresources.empty? %>
      <li><a href="#subresources">SUBRESOURCES</a></li>
    <% end %>
    </ul>
  </nav>

  <% ['GET', 'POST', 'PUT', 'DELETE'].each do |verb| %>
    <% if @verbs[verb] %>
      <section id="<%= verb %>">
        <h3>
          <%= verb %>
          <span class="inlineNav"><a href="#top">^top</a><span>
        </h3>
        <% unless @verbs[verb][:comment][:description].empty? %>
          <div class="description">
            <% unless @verbs[verb][:comment][:description].empty? %>
              <%= DocUtil.render_array_to_p(@verbs[verb][:comment][:description]) %>
            <% end %>
          </div>
        <% end %>
        
        <% unless @verbs[verb][:comment][:params].empty? %>
          <div class="params">
            <h4>Parameters</h4>
            <%= DocUtil.render_hash_to_dl(@verbs[verb][:comment][:params]) %>
          </div>
        <% end %>

        <% unless @verbs[verb][:comment][:access].empty? %>
          <div class="access">
            <h4>Access</h4>
            <p><%= @verbs[verb][:comment][:access] %></p>
          </div>
        <% end %>

        <% unless @verbs[verb][:comment][:return_codes].empty? %>
          <div class="returns">
            <h4>Returns</h4>
            <%= DocUtil.render_array_to_ul(@verbs[verb][:comment][:return_codes]) %>
          </div>
        <% end %>

        <% unless @verbs[verb][:comment][:json].empty? %>
          <div class="json">
            <h4>Response example</h4>
            <pre class="prettyprint">
<!-- don't indent this line because of pre tag -->
<%= DocUtil.pretty_print(@verbs[verb][:comment][:json]) %>
            </pre>
          </div>
        <% end %>
      </section>
    <% end %>
  <% end %>

  <% unless @subresources.empty? %>
    <section id="subresources">
      <h3>
        SUBRESOURCES
        <span class="inlineNav"><a href="#top">^top</a><span>
      </h3>
      <%= DocUtil.render_subresources_to_ul(@subresources, @subresources_index) %>
    </section>
  <% end %>
</div>
<%= DocUtil.print_erb('stylesheet_link_tag "prettify"', true) %>
<%= DocUtil.print_erb('javascript_include_tag "jquery.min"', true) %>
<%= DocUtil.print_erb('javascript_include_tag "prettify"', true) %>
<script type="text/javascript">
    $(function() {
        prettyPrint();
    })
</script>
