
<h3><%= name %></h3>
<div class="method">
<p>
  <%= description %>
</p>

<% if defined?(parameters) && parameters.size > 0 %>
<h4>Parameters</h4>
  <table>
  <% parameters.each do |parameter| %>
    <tr>
      
      <% if parameter.to_a[0][1].class == Array%>
      <th class="inner_parameters"><div class="inner_parameters"><%= parameter.to_a[0][0] %></div></th>
      <td>
	<%= render :partial => "doc/inner_parameters", :locals => { :parameters => parameter.to_a[0][1] } %>
      </td>
      <% else %>
        <th><%= parameter.to_a[0][0] %></th>
        <td><%= parameter.to_a[0][1]%></td>
      <% end %>
      
    </tr>
  <% end %>
  </table>
<% end %>

<% if defined?(returns) && returns.size > 0 %>

<h4>Return Codes</h4>
<table>
  <% returns.sort.each do |code, description| %>
  <tr>
    <th><%= code %>&nbsp;<span class="status-code"><%=http_status(code)%></span></th>
    <td><%= description %></td>
  </tr>
  <% end %>
</table>
<% end %>

<% if defined?(error_messages) && error_messages.size > 0 %>

<h4>Error messages</h4>
<table>
  <% error_messages.sort.each do |message, description| %>
  <tr>
    <th><%= message %></th>
    <td><%= description %></td>
  </tr>
  <% end %>
</table>
<% end %>

</div>

