<head>
  <title>Core UI for OtaSizzle Common Services - Privacy Management: New Rule </title>
</head>
<body>
  <h2>New Rule</h2>
  <%  form_for @rule do |rule_form| %>
  <%= error_messages_for :object => [@rule] %>
  <%= rule_form.error_messages %>
  <p>
    Name: <%= rule_form.text_field :rule_name %>
  </p>

  <div id="conditions">
    <%= render :partial => 'condition' %>
  </div>
  
  <%= add_condition_link "[ Add a new condition ]" %>
                                                             
  <p>Logic beteween conditions: <%= rule_form.select(:logic, ["and", "or"]) %></p>
  <hr>

  <p>Action: "View <%= select_tag 'action_data', options_from_collection_for_select(@action, 'action_value', 'action_value')%>" </p> 
  <hr>

  <p><%= rule_form.submit "Submit" %>  </p>  
<% end %>
