<html>
  <head>
    <title>Core UI for OtaSizzle Common Services - Privacy Management: List Rules </title>
  </head>
  <body>
    <h2>Rules of the user "<%= @person.username %>"</h2>
    <table>
      <% @rules.each do |rule| %>
        <tr>
          <% if rule.active? %>
            <td bgcolor="green">
              <%=link_to rule.rule_name, rule_path(@person,rule.id), :method => :get %>
            </td>
            <td>
              <%=button_to "Disable rule", rule_path(@person,rule.id)+'/disable', :method => :put %>
            </td>
          <% else %>
            <td bgcolor="red">
              <%=link_to rule.rule_name, rule_path(@person,rule.id), :method => :get %>
            </td>
            <td>
              <%=button_to "Enable rule", rule_path(@person,rule.id)+'/enable', :method => :put%>
            </td>
          <% end %>
          <td>
            <%=button_to "Delete", rule_path(@person,rule.id), :method => :delete %>
          </td>
        </tr>
      <% end %>
    </table>
    <br />
    <p> <%= button_to "Create a new Rule", new_rule_path, :method => :get%></p>
  </body>
</html>


