<html>
  <head>
    <title>Core UI for OtaSizzle Common Services - Privacy Management: Show Rule </title>
  </head>
  <body>
    <h1>Rule Information</h1>
    <% if @rule %>
      <p>Rule id: <%=@rule.id%> </p>
      <p>Rule name:<%=@rule.rule_name %></p>
      <p>Rule state: <%=@rule.state %></p>
      <p>Rule logic: <%=@rule.logic%> </p>
      <h3>Condition Action Sets</h3>
      <% if @condition_action_sets %>
        <%  @condition_action_sets.each_pair do |action, conditions_array| %>
          <% conditions_array.each do |condition| %>
            <p>
              Condition Type: <%=condition.condition_type %>,
              Condition Value: <%=condition.condition_value %>
            </p>
          <% end %>  <%# conditions_array.each%>
          <p>Action: <%=action.action%> <%=action.data %> </p>
          <hr>
        <% end %> <%# @condition_action_sets.each_pair%>
      <% end %> <%# if @condition_action_sets %>
    <% end %> <%# if @rule%>
  </body>
</html>