<html>
  <head>
    <title>Core UI for OtaSizzle Common Services - Privacy Management: Show Rule </title>
  </head>
  <body>
    <h1>Rule Information</h1>
    <% if @rule %>
      <p>Rule id: <%=@rule.id%> </p>
      <p>Rule name:<%=@rule.rule_name %></p>
      <p>Rule state: <%=@rule.state %></p>
      <p>Rule logic: <%=@rule.logic%> </p>
      <h3>Condition Action Sets</h3>
      <hr>
      <table>
        <% if @condition_action_sets %>
          <%  @condition_action_sets.each_pair do |action, conditions_array| %>
            <% is_first = true %>
            <% conditions_array.each do |condition| %>
              <% unless is_first %>
                <tr> <td> <%= @rule.logic %> </td> </tr>
              <% end %>
              <tr> <td> Condition Type: <%=condition.condition_type %> </td>
              <td> Condition Value: <%=condition.condition_value %> </td>
              <% is_first = false %>
            <% end %>  <%# conditions_array.each%>
            <td> =======> Action: <%=action.action%> <%=action.data %> </td>
          <% end %> <%# @condition_action_sets.each_pair%>
        <% end %> <%# if @condition_action_sets %>
      </table>
    <% end %> <%# if @rule%>
    <p>[ <%= link_to "Back", rules_path%> ]</p>
  </body>
</html>
