<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html>
<head>
  <title>Simple and RESTful Authentication</title>
</head>
 
<body>
  <%= link_to "Home", root_url %> -
  <% if @user %>
    <%= link_to "Edit Account", edit_person_path('account') %> -
    <%= link_to "Logout", @application_session, :method => :delete %>
  <% else %>
    <%= link_to "Login", new_session_path %> -
    <%= link_to "Register", new_person_path %>
  <% end %>
 
  <%= "- Message: #{flash[:notice]}" if flash[:notice] %>
 
  <hr />
 
  <h1>
  <% if @user %>
    <%= "User: #{@user.username}" %><br />
    <%= "IP Address: #{@application_session.ip_address}" %><br />
    <%= "Path: #{@application_session.path}" %>
  <% end %>
  </h1>
 
  <%= yield %>
</body>
</html>

<!-- FROM AUTH PROBABLY NOT NEEDED FOR LONG, BUT CAN BE USED FOR TESTING AUTHORIZATION-->