<html>
  <head>
    <title>Core UI for Aalto Social Interface</title>
    <%= stylesheet_link_tag("cos") %>
  </head>
  <body>
<div id="OtaSizzle"></div>
<div id="background"></div>    <h1>[Core::UI]</h1>

    <p style="color: green"><%= flash[:notice] %></p>
    <p style="color: orange"><%= flash[:warning] %></p>
    <p style="color: red"><%= flash[:error] %></p>

    <%= yield %>

    <% if @user %>
      <p><%= link_to "Logout", "/session", :method=>"delete" %></p>
    <% end %>

    <div class="footer">
      Aalto Social Interface <%= render :partial => "layouts/version" %> built <%= render :partial => "layouts/build_date" %>
    </div>
  </body>
</html>
