<html>
  <head>
    <title>Core UI for OtaSizzle Common Services</title>
    <%= stylesheet_link_tag("cos") %>
  </head>
  <body>
    <h1>[Core::UI]</h1>

    <p style="color: green"><%= flash[:notice] %></p> 
    <p style="color: orange"><%= flash[:warning] %></p> 
    <p style="color: red"><%= flash[:error] %></p> 
    
    <%= yield %>
    
    <% if @user %>
      <%= link_to "Logout", "/session", :method=>"delete" %>
    <% end %>

    <div class="footer">
      OtaSizzle Common Services <%= render :partial => "layouts/version" %> built <%= render :partial => "layouts/build_date" %>
    </div>
  </body>
</html>
