<html>
  <head>
    <title>OtaSizzle Account Management</title>
    <%= stylesheet_link_tag("cos") %>
  </head>
  <body>
    <div id="OtaSizzle"><%= link_to image_tag("OtaSizzle.png"), coreui_root_path %></div>
    <div id="background"></div>    
    <div id="content"> 

    <% if @user %>
    <div id="navi">
      [ <%= link_to "Profile", edit_coreui_profile_path(:id => @person.id) %> ]
      [ <%= link_to "Privacy", edit_coreui_privacy_path(:id => @person.id) %> ]
      [ <%= link_to "Logout", "/session", :method=>"delete" %> ]
    </div>
    <% end %>    
    
    <p style="color: green"><%= flash[:notice] %></p>
    <p style="color: orange"><%= flash[:warning] %></p>
    <p style="color: red"><%= flash[:error] %></p>

    <%= yield %>

    <div class="footer">
      ASI <%= render :partial => "layouts/version" %>
    </div>
  </div>
  </body>
</html>
