<html>
  <head>
    <title>Common Services <%= render :partial => "layouts/version" %></title>
    <base href="<%= render :partial => "layouts/servername" %>" />
    <link rel="stylesheet" href="stylesheets/cos.css" type="text/css" media="screen" />
  </head>
  <body>
    <%= yield %>
    <div class="footer">
      <a href="">OtaSizzle Common Services</a> <%= render :partial => "layouts/version" %> built <%= render :partial => "layouts/build_date" %>
    </div>
  </body>
</html>
