<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">

        <title>Aalto Social Interface</title>
        <meta name="description" content="Aalto Social Interface is a RESTful platform for social media applications.">

        <!-- Mobile viewport optimized: j.mp/bplateviewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS: implied media="all" -->
        <%= stylesheet_link_tag "cos" %>
        <%= stylesheet_link_tag "prettify" %>
    </head>
    <body>
        <header>
            <h1>
              <%= link_to "Aalto Social Interface", root_path  %>
            </h1>
            <div id="flash">
              <p class="notice"><%= flash[:notice] %></p>
              <p class="warning"><%= flash[:warning] %></p>
              <p class="error"><%= flash[:error] %></p>
            </div>
            <nav id="mainNav">
                <ul>
                    <li><%= link_to "Home", root_path  %></li>
                    <li><%= link_to "Interactive tester", test_path  %></li>
                    <li><a href="<%= root_path %>#reference">API reference</a></li>
                </ul>
            </nav>
        </header>

        <div id="main" role="main">
          <%= yield %>
        </div>

        <footer>
            <%= render :partial => "layouts/feedback" %>

            <p class="version">
              Aalto Social Interface <%= render :partial => "layouts/version" %> built <%= render :partial => "layouts/build_date" %>
            </p>
        </footer>
        <%= javascript_include_tag "prettify" %>
    </body>
</html>
